# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# NetBeans
nbactions.xml

# JetBrains IntelliJ
.idea/
**.iml

# VS Code
.vscode

# Project
ts-constants-generator-example/ts